.nav {
    position: relative;
    display: block;
    padding: 20px 0;
    .nav-container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .nav-logo {
        img {
            width: 248px;
            height: auto;
        }
    }

    .nav-submenu {
        margin-top: 20px;
    }

    .nav-menu {
        ul {
            margin: 0;
            padding: 0;
            text-align: right;
            &.nav-lang-menu {
                margin-bottom: 25px;
                li {
                    margin-left: 5px;
                    &.current-lang {
                        a {
                            color: $themeColorTwo;
                        }
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
            }
            li {
                list-style: none;
                display: inline-block;
                margin-left: 15px;

                a, span {
                    font-size: 20px;
                }
                span {
                    color: $themeColorTwo;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .nav {
        padding-top: 100px;
        padding-bottom: 0;  
        .nav-logo {
            position: absolute;
            top: 20px;
            left: 10px;
            img {
                width: 180px;
                height: auto;
            }
        }
        .nav-menu {
            ul.nav-lang-menu {
                position: absolute;
                right: 10px;
                top: 20px;
                max-width: 140px;
                text-align: right;
                li {
                    margin: 0 3px;
                    a {
                        font-size: 12px;
                    }
                }
            }

            

            .nav-primary-menu,
            .nav-submenu {
                text-align: center;
                width: 100%;
                display: block;
                li {
                    a { 
                        font-size: 14px;
                    }
                }
            }

            .nav-primary-menu {
                li { 
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}