@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

//font-family: 'Roboto', sans-serif;
$font-family-sans-serif: "Arial", "Helvetica", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", "Times", serif;
$font-family-monospace: "Menlo", "Monaco", "Consolas", "Courier New", monospace;

$fontFamilyOne: "Roboto", sans-serif; //titles
$fontFamilyTwo: "Roboto", sans-serif; //body

